/* Responsive */
@media screen and (max-width: 768px) {
    div.calculator {
        margin-left: 33%;
        margin-right: 33%;
        margin-top: 10%;
        width: auto;
        padding: 10px;
    }
    
}

@media screen and (min-width: 768px) {
    div.calculator {
        margin-left: 33%;
        margin-top: 10%;
        width: 200px;
        padding: 10px;
    }
}

/* main style */
main {
    height: auto;
    width: auto;
}

div.calculator {
    /* margin: 25%;
    padding: 1em;
    width: 25%; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 30px;
}



button {
    width: 30%;
    margin: 5px;
    padding: 2px;
}

/* Display div */
.displayDiv {
    display: flex;
    flex-direction: column-reverse;
    font-weight: bolder;
    width: 100%;
    height: 80px;
    border: 2px solid black;
    border-radius: 12px;
}

.display {
    padding: 10px;
    height: 60px;
    background-color: white;
    /* border: 2px solid black; */
    border-radius: 12px;
    /* word-wrap: break-word; */
}

.histDiv {
    padding: 10px;
    color: lightgray;
    background-color: white;
    white-space: break-spaces;
    overflow-y: scroll;
}

/* Button styling */
button {
    font-weight: bolder;
    border-radius: 12px;
    outline: none;
}

.buttonDiv {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-content: center;
}



div.numDiv {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

div.numDiv>button {
    margin: auto;
}

div.numDiv>button:nth-child(2){
    order: -12;
}

div.numDiv>button:nth-child(1){
    order: -11;
}

div.numDiv>button:nth-child(11){
    order: -10;

}

button.equal {
    color: white;
    background-color: #0096a5;
}


div.operDiv{
    display: flex;

}

div.operDiv>button{
    background-color: orange;
}